<div class="card">
  <img class="card-img-top img-fluid" src="{{menu.img ? menu.img : myimg}}" alt="Card image cap" />
  <div class="card-body">
    <div class="d-flex">
      <h3 class="card-title mb-0 pr-2">{{menu.category}}</h3>
      <span class="badge badge-danger align-self-center" [attr.name]="menu.price">Rs. {{menu.price}}</span>
    </div>
    <h5 class="card-title mb-0">{{menu.item}}</h5>
    <hr class="my-3">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
      card's content.</p>
    <a href="javascript:;" class="btn btn-primary btn-sm float-right" (click)="createOrder(menu)">Add Item</a>
  </div>
</div>