<div class="container">
  <header>
    <div class="row">
      <div class="col-md-6">
        <div class="restaurant-info">
          <h2>
            Partum Restaurant System
          </h2>
          <p class="restaurant-location">
            Office # 11, 2nd Floor, Al-Zain Centre, Zarghoon Road Quetta, Pakistan
          </p>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </header>
  <hr>
  <div>
    <h2>Menu Card</h2>
    <div class="row">
      <div class="col-md-2">
        <h4>Categories</h4>
        <div class="list-group">
          <a *ngFor="let menu of menuItems" 
            routerLink="/order/create" [queryParams]="{category:menu.category}"
            class="list-group-item list-group-item-action"
            [class.active]="menuItems === menu.category"
            >
            {{menu.category}}
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let menu of filteredProducts">
            <app-menuCard [menu]="menu"></app-menuCard>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Billing</h4>
      </div>
    </div>
  </div>
</div>